.container{
    display: flex;
}
.sidebar-pages{
  width: 20%;
  height: 100vh;
  background-color: rgb(86, 233, 66);
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgb(50, 50, 50);

}
.content-pages{
    width: 80%;
    float: right;
    margin-left:20px;
}
.track-list{
    margin: 0 auto;
    display: grid;
    grid-template-areas:"card card-playlist";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
